.loader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 100;
    transition: opacity 0.75s,visibility 0.75s ;
}
.loader::after
{
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid #fff;
    border-top-color: rgba(19,170,208,255);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
    from { transform: rotate(0turn) }
    to { transform: rotate(1turn) }
}
 .loader--hidden
{
    opacity: 0;
    visibility: hidden;
}
.logo
{
    font-family: 'Satisfy', cursive;
    font-size:25px;
}
.heading
{
    font-family: 'Rye', serif;
}
.moving
{
    position: relative;
    animation: move-words 20s linear infinite;
    margin: 0;
}
.searchbar
{
    border-style: solid;
    border-color: greenyellow;
    border-width: 3px;
    border-radius: 16px;
    width: 50%;
}
@keyframes move-words
{
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
}
.navbar-brand
{
    color: rgb(3, 3, 45);
}
.moto
{
    background-color: rgba(19,170,208,255); 
}
.cardscroll::-webkit-scrollbar
{
    display: none;
}
.trendingimages::-webkit-scrollbar
    {
        display: none;
    }
.back
{
    background: linear-gradient(to right,white,rgba(19,170,208,255));
}

.honeycards
{
    width: 100vh;
}
.gallery
{
    padding: 80px 0;
}
.gallery img
{
    max-width: 100%;
    cursor: pointer;
}
#gallery-modal .modal-img
{
    width: 100%;
}
.modalhead
{
    font-family: 'Satisfy', cursive;
}
.cards
{
    position:relative;
    display:flex;
    box-shadow:0px 7px 10px rgba(0,0,0,0.5);
    transition:0.5s ease-in-out;
    width: 15rem;
    height: 16rem;
}
.cardss
{
    width: 8rem;
    height: 4rem;
}
.cards:hover
{
    transform:translateY(20px);
    box-shadow: 4px 4px 4px rgb(236, 179, 242);
}
.cards:hover::before{
    opacity: 1;
}
.cards .info
{
    position:absolute;
    z-index: 1;
    color: #fff;
    opacity: 1;
    top:0;
    right:0;
    color:white;
    width:100%;
    height:100%;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card-text
{
    font-family: 'Rye', serif;
    opacity: 0;
}
.cards:hover .card-text
{
    opacity: 1;
}
.carddetails
{
    opacity: 0;
}
.cards:hover .carddetails
{
    opacity: 1;
}
.cards:hover .card-img-top
{
    opacity: 0.5;
}
.hotdeal
{
    position: relative;
}
.ribbon
{
    width: 40px;
    font-size: 14px;
    margin-top: 10px;
    padding: 0;
    position: absolute;
    top: -45px;
    left: 0;
    text-align: center;
    background-color: #1af4bd;
    color: white;
}
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* 3d effect */
  }
.flip-box-inner 
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner 
{
    transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-box-back 
{
    color: #f1f1f1;
    transform: rotateY(180deg);
  }
  footer 
  {

	padding: 86px 0;
}
.single-content 
{
	text-align: center;
	padding: 115px 0;
}
.single-box p 
{

	line-height: 1.9;
}
.single-box h3 
{
	font-size: 16px;
	font-weight: 700;

}
.single-box .card-area i
 {

	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
footer a
{
    color: black;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media only screen and (min-width:200px) and (max-width:431px)
{
    .ind
    {
        background-color: rgba(19,170,208,255);
    }
    .footer
    {
        display: block;
    }
    .address
    {
        text-align: center;
    }
    .searchbar
    {
        width: 100%;
    }
    .brand
    {
        display: inline;
    }
    .carousel img
    {
        height: 50vh;
    }
    .trending
    {
        height: 50vh;
    }
    .packages 
    {
        height: 50vh;
    }
    .packagepara
    {
        display: none;
    }
    .cards
    {
        width: 5rem;
        height: 6rem;
        margin: 1px;
    }
   .carddetails
   {
    display: none;
   }
   .card-text
   {
    font-size:6px;
   }
   .cardss
   {
    width: 4rem;
    height: 2rem;
   }
   .cardss .info
   {
    font-size: 7px;
   }
   .ribbon
   {
    width: 30px;
    font-size: 7px;
   }
   .movetext
   {
    display: none;
   }
}
@media only screen and (min-width:431px) and (max-width:992px)
{
    .ind
    {
        background-color: rgba(19,170,208,255);
    }
    blockquote
    {
        visibility: visible;
    }
    .carousel img
    {
        height: 50vh;
    }
    .hamburger
    {
        left: 0;
    }
    .packages
    {
        height: 60vh;
    }
    .honeymoon
    {
        height: 60vh;
    }
    
}

